 @font-face { font-family: 'Quicksand'; src: url('../fonts/quicksand/Quicksand-Regular.otf'); } 
 @font-face { font-family: 'Quicksand'; font-weight: bold; src: url('../fonts/quicksand/Quicksand-BoldItalic.otf');}
  @font-face { font-family: 'Quicksand'; font-style:italic; src: url('../fonts/quicksand/Quicksand-Italic.otf');}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

html,body{
	font-family: 'Quicksand';
	height:100%;
	width:100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
  background: url("../images/background.jpg"); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
::-webkit-scrollbar { 
    display: none; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/**
Gummi css
**/
.container{
	    text-align: center;
    /* width: 100%; */
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    /* max-height: 100%; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButtonContainer{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    text-align:center;

    height:auto;
    width:400px;
    padding:20px;
    background: rgba(0,0,0,0.6);

}

.loginButtonLink{
	 font-size: 24px;
    color: #FAF6EB;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background:#BDA782;
    font-variant: small-caps;
    cursor: pointer;
}

.loginButtonLink:active{
	background:#C39D5D;
}

h1{
    font-size: 46px;
    padding: 20px;
    color: #FAF6EB;
    margin-bottom: 20px;
}
h2{
	font-size: 32px;
	padding:10px;
}

.playlistContainer{
    height:100%;
    width:100%;
}

.mainPlaylist{
	color: white;
    padding: 5px;
    margin: 1px;
    border-radius: 9px;
        display: flex;
    align-items: center;
    justify-content: center;

}
.mainPlaylistInfo
{
    height:100px;
    width:65%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: rgba(109,108,108,0.5);
    border-radius: 2px;
    cursor: pointer;
}

.mainPlaylistImage{
    height:100%;
    flex:auto 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlistImage{
    height:100%;
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
}
.mainPlaylistName{
    font-size:24px;

    flex:4 0 0;
}

.mainPlaylist:active,.mainPlaylist:activated{
	background:#6D6C6C;
}

.vs-repeat-after-content{
    display:none !important;
}













