<div class ="container" >
	<div vs-repeat vs-scrolled-to-end="{{doThis()}}" class= "playlistContainer">

		<div class ="mainPlaylist" ng-repeat="playlist in playlists">
			<div ng-disable ="loading" ng-click ="downloadPlaylist(playlist.id,playlist.name);" class ="mainPlaylistInfo">
				<div class ="mainPlaylistImage">
					<img class ="playlistImage" ng-src = "{{playlist.images[0].url}}">
				</div>
				
				<div ng-if="!playlist.loading && !playlist.error" class ="mainPlaylistName">
						{{playlist.name}}
				</div>
				<div class ="mainPlaylistName" ng-if="playlist.loading && !playlist.error">
					<div class="spinner">
					  <div class="rect1"></div>
					  <div class="rect2"></div>
					  <div class="rect3"></div>
					  <div class="rect4"></div>
					  <div class="rect5"></div>
					</div>
				</div>

				<div class ="mainPlaylistLoadingIcon" ng-if="playlist.error">
					Something went wrong while downloading playlist :(
				</div>



			</div>


		</div>

		<button ng-click ="logout();">logout</button>

	</div>

</div>